@{
    string controller = ""/*ViewContext.RouteData.Values["Controller"].ToString()*/;
    string action = ""/*ViewContext.RouteData.Values["Action"].ToString()*/;
}
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <script src="https://use.fontawesome.com/releases/vVERSION/js/all.js" data-auto-add-css="false"></script>
    <link href="https://use.fontawesome.com/releases/vVERSION/css/svg-with-js.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c5ab850438.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/img/car-burst-solid.svg">
    <script src="~/lib/chart/Chart.min.js"></script>
</head>

<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-solid fa-car-burst"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Utah Crash Report</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item @(controller == "Home" && action == "Index" ? "active" : "")">
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-solid fa-house"></i>
                    <span>Home</span>
                </a>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            @if (User.Identity.IsAuthenticated)
            {
                <!-- Divider -->
                <hr class="sidebar-divider">
                <!-- Heading -->
                <div class="sidebar-heading">
                    Data
                </div>

                <li class="nav-item @(controller == "Home" && (action == "AccidentList" || action == "Predictor" || action == "AccidentSummary") ? "active" : "")">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                       aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fa-solid fa-eye"></i>
                        <span>View Accidents</span>
                    </a>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Accident Data:</h6>
                            <a asp-controller="Home" asp-action="AccidentList" class="collapse-item">View Accident List</a>
                            <a asp-controller="Home" asp-action="Predictor" class="collapse-item">Make a Prediction</a>
                        </div>
                    </div>
                </li>
            }


            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Account</span>
                </a>
                <partial name="_LoginPartial" />

            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        </ul>

        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <span id="page-top"></span>
            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">

                    @*Use only if user is authenticated*@
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form method="post" asp-controller="Home" asp-action="Search" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input value="@ViewBag.SearchInput" type="text" name="InputValue" class="form-control bg-light border-0 small" placeholder="Search for Accidents by..." aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-btn search-panel">
                                    <select name="InputValueField" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <option selected="@(ViewBag.SearchInputField == "City" ? true : false)" value="City">City</option>
                                        <option selected="@(ViewBag.SearchInputField == "Main_Road_Name" ? true : false)" value="Main_Road_Name">Main Road Name</option>
                                        <option selected="@(ViewBag.SearchInputField == "County_Name" ? true : false)" value="County_Name">County Name</option>
                                        <option selected="@(ViewBag.SearchInputField == "Route" ? true : false)" value="Route">Route</option>
                                    </select>
                                </div>
                                <input name="Filter" type="hidden" value="@(ViewBag.Filter != null ? Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Filter) : "")" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    }



                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->

                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@(User.Identity.Name == null ? "" : User.Identity.Name) @(User.IsInRole("Admin") ? "(Admin)" : "")</span>
                                    <i class="fas fa-user"></i>
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="userDropdown">
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                                        <i class="fas fa-solid fa-user"></i>
                                        Profile
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary mr-2">Login</a>
                            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-outline-secondary">Register</a>
                        }



                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>

                </div>
                <!-- /.container-fluid -->
                <!-- Footer -->
                <footer class="page-footer font-small">
                    <div class="footer-copyright text-center py-3">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Intex II 2022 - <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a> - <a asp-controller="Home" asp-action="TermsConditions">Terms & Conditions</a></span>
                        </div>
                    </div>
                    <!-- Copyright -->
                </footer>
                <!-- End of Footer -->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <partial name="_CookiesConsentPartial" />

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <form id="logoutForm" class="collapse-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="btn btn-primary">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/jquery/dist/jquery.easing.min.js"></script>

    <script src="~/js/sb-admin-2.min.js"></script>

    <script src="~/lib/chart/Chart.min.js"></script>
    <script nws-csp-add-nonce="true"></script>
    <style nws-csp-add-nonce="true"></style>
    <script src="~/js/chart-area-demo.js"></script>
    <script src="~/js/chart-pie-demo.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>