@{
    ViewData["Title"] = "Accident Summary";
}
@model Accident

<div>
    <h1>Accident Summary</h1>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <h5 class="card-title">Accident at @Model.Main_Road_Name</h5>
                    <p class="card-text">This accident happened in @Model.City, UTAH.</p>

                    @foreach (String accidentType in ViewBag.AccidentTypes)
                    {
                        <span class="badge badge-pill badge-danger">@accidentType</span>
                    }
                </div>
            </div>

            <div class="card shadow mb-4">

                <!-- Chart Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <p style="font-size: 15px; font-weight: bold; text-align: center;" class="mb-2">Total Number of Similar Accidents (By Type)</p>
                        <canvas id="myPieChart"></canvas>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-8">
            <!-- Content Row -->
            <div class="row">

                <div class="col-lg-12 mb-4">

                    <!-- Approach -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Accident Details</h6>
                        </div>
                        <div class="card-body">
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-controller="Home" asp-action="Edit" asp-route-accidentid="@Model.Crash_ID" class="btn btn-outline-secondary ml-2">Edit</a>
                            }
                            <p>
                                This motor vehicle incident took place at @Model.Main_Road_Name @Model.City, @Model.County_Name.
                            </p>
                            <p class="mb-0">
                                <ul>
                                    <li>
                                        Route: @Model.Route
                                    </li>
                                    <li>
                                        Milepoint: @Model.MilePoint
                                    </li>
                                    <li>
                                        Latitude: @Model.Lat_Utm_Y
                                    </li>
                                    <li>
                                        Longitude: @Model.Long_Utm_Y
                                    </li>
                                </ul>
                            </p>
                            @*<iframe width="450"
                                    height="250"
                                    frameborder="0" style="border:0"
                                    id="map"
                                    referrerpolicy="no-referrer-when-downgrade"
                                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAktNIzdvvbXnjE6sMfwVidctoIfd8vbzQ&q=@Model.Main_Road_Name,@Model.City+Utah"
                                    >
                            </iframe>*@
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Crash Severity</th>
                                        <th>Date & Time of Incident</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div>
                                                <div class="font-weight-bold">
                                                    @Model.Crash_Severity_ID -
                                                </div>
                                                <div>
                                                    @if (Model.Crash_Severity_ID == 1)
                                                    {
                                                        <p>The severity of this particular incident was very low, meaning the crash most likely did not result in any injuries or fatalities.</p>
                                                    }
                                                    @if (Model.Crash_Severity_ID == 2)
                                                    {
                                                        <p>The severity of this particular incident was low, meaning the crash may have resulted in possible injuries.</p>
                                                    }
                                                    @if (Model.Crash_Severity_ID == 3)
                                                    {
                                                        <p>The severity of this particular incident was around average, meaning the crash may have resulted in minor injuries.</p>
                                                    }
                                                    @if (Model.Crash_Severity_ID == 4)
                                                    {
                                                        <p>The severity of this particular incident was high, meaning the crash likely resulted in serious injuries.</p>
                                                    }
                                                    else if (Model.Crash_Severity_ID == 5)
                                                    {
                                                        <p>The severity of this particular incident was very high, meaning the crash most likely resulted in fatalities.</p>
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            @Model.Crash_Date_Time
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <script>
        Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';

        window.addEventListener('load', function () {
            var ctx = document.getElementById("myPieChart");
            var myPieChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.AccidentTypes)),
                    datasets: [{
                        data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.AccidentCounts)),
                        backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc', '#fff269', '#e06666', '#6fa8dc', '#84cf63'],
                        hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf', '#fff269', '#e06666', '#6fa8dc', '#84cf63'],
                        hoverBorderColor: "rgba(234, 236, 244, 1)",
                    }],
                },
                options: {
                    maintainAspectRatio: false,
                    tooltips: {
                        borderWidth: 1,
                        xPadding: 15,
                        yPadding: 15,
                        displayColors: true,
                        caretPadding: 10,
                    },
                    legend: {
                        display: false,
                    },
                    cutoutPercentage: 80,
                },
            });
        })


    </script>


    <!-- Content Row -->
    <!--<div class="row">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total Accidents To Date
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">432,458</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    <!-- Earnings (Monthly) Card Example -->
    <!--<div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Earnings (Annual)
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- Earnings (Monthly) Card Example -->
    <!--<div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Tasks
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar"
                                         style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- Pending Requests Card Example -->
    <!--<div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Something will go here
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- Content Row -->
    <!--<div class="row">-->
    <!-- Area Chart -->
    <!--<div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">-->
    <!-- Card Header - Dropdown -->
    <!--<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Number of Accidents Over Time</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                 aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>-->
    <!-- Card Body -->
    <!--<div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                </div>
            </div>
        </div>
    </div>-->
    <!-- Pie Chart -->
    <!--<div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">-->
    <!-- Card Header - Dropdown -->
    <!--<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Revenue Source</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                 aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>-->
    <!-- Card Body -->
    <!--<div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> Direct
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Social
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-info"></i> Referral
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>-->



</div>

<script src="~/js/site.js"></script>


