@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<Accident>

@foreach(Accident a in Model)
{
    <div class="card">
        <div class="card-header">
            <h5>Accident #@a.Crash_ID</h5>
        </div>
        <div class="card-body">
            <h5 class="card-title">Located at @a.Main_Road_Name, @a.City in @a.County_Name, UTAH. </h5>
            <p class="card-text">Time of Crash: @a.Crash_Date_Time</p>
            <p class="card-text">Crash Severity: @a.Crash_Severity_ID</p>
            <a asp-controller="Home" asp-action="AccidentSummary" asp-route-accidentid="@a.Crash_ID" class="btn btn-primary">Learn More</a>
        </div>
    </div>
}

<div class="mt-2" page-model="@ViewBag.PageInfo" page-action="AccidentList"></div>
